<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
	<!--> Configuração do Banco de Dados  <--> 
	<add key="user" value="User ID=application" />
	<add key="password" value="password=application" />
	<add key="datasource" value="Data Source=(LOCAL)" />
	<add key="basecatalog" value="Initial Catalog=rafael;Connection Reset=False" />
</appSettings>
</configuration>
